.ak{
    text-shadow: 4px 3px 3px black;
    letter-spacing: 3px;
    word-spacing: 10px;
    margin-top: 20px;
}
.akas{
    margin-left: 46%;
    color: white;
    font-size:larger;
}
.abhi{
    margin-top: -10px;
}